#debug {
	position: fixed;
	width: calc( 60% - 100px );
	height: 50%;
	top: 50px;
	right: 50px;
	z-index: 99999999;
	background-color: #303841;
	color: white;
	padding: 25px;
	border-radius: 10px;
	font-family: consolas;
	overflow: auto;
	resize: both;
	
	box-shadow: 0px 0px 14px 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 14px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 14px 8px rgba(0,0,0,0.3);

	&.minimized {
		width: 80px !important;
		height: 80px !important;
		overflow: hidden;
		border-radius: 40px;
		resize: none;
		transition: 0.3s;

		.data-block {
			opacity: 0;
		}

		.debug-action-bar {
			right: 75px;
		}
	}

	.data-block {

		.caller {
			font-weight: 600;
			margin-bottom: 15px;
			padding-right: 50px;

			a::before {
				content: '-';
				border: 1px solid rgb(200, 200, 200);
				color: white;
				font-size: 12px;
				width: 20px;
				margin-right: 10px;
				text-decoration: none;
				display: inline-block;
				text-align: center;
			}
		}

		pre {
			transition: 0.3s;
		}

		&.minimized {
			pre {
				height: 0;
			}

			a::before {
				content: '+';
			}
		}
	}


	.debug-action-bar {
		position: fixed;
		top: 75px;
		right: 100px;
		transition: 0.3s;

		.toggle-size {
			color: white;
			background-color: #a0331b;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			font-size: 12px;
		}
	}
}